*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  /* Le display flex permet de placer des éléments de façon flexible.
    C'est à dire qu'ils vont automatiquement se placer selon la taille du viewport et s'adapter.
    Pour placer des élément en flex, il faut mettre le display: flex sur leur parent.
    Par exemple ici en plaçant le display flex sur le "ul", cela déplace les "li" */
  display: flex;
  /* permet de séléctionner l'axe principal de la flex box.
  row (par défaut)
  row-reverse (de droite à gauche)
  column (de haut en bas)
  column-reverse (de bas en haut) */
  flex-direction: row;
  height: 25vh;
  /* Permet de choisir le placement des éléments sur l'axe principa
  start, end, center, space-evenly, space-around, space-between */
  justify-content: space-evenly;
  /* Permet de créer de nouvelles lignes si l'espace vient à manquer. */
  flex-wrap: wrap;
  /* Défini le placement des éléments sur l'axe secondaire.
  stretch (défaut), start, center, end */
  align-items: center;
  border: 1px solid black;
}
li {
  width: 40vw;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: cadetblue;
  margin: 5px;
  list-style: none;
  text-align: center;
}
li:last-child {
  /* Permet de déplacer un des enfants différement du placement choisi par le parent. */
  align-self: flex-end;
}
li:hover {
  /* Indique à l'élément de grandir en prenant l'espace restant */
  flex-grow: 1;
}
section {
  display: flex;
  /* Raccourci de flex-direction et flex-wrap */
  flex-flow: column wrap;
  height: 60vh;
  /* espacement entre les colonnes et les lignes. */
  gap: 20px;
}
article {
  width: 40%;
  background-color: aqua;
}
article:nth-of-type(2) {
  background-color: darkorange;
  order: -1;
}
section h2 {
  order: -2;
}
