*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
    "header header header header"
    /* ". nav nav ." */
    ". intro intro ."
    "main main main main"
    ". img img .";
}

header {
  display: grid;
  grid-area: header;
  text-align: center;
  padding-top: 35px;
  background-image: url(header_cafe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.bord {
  height: 5px;
  width: 375px;
  background: linear-gradient(green, greenyellow, green);
}
.accroche {
  color: rgb(5, 85, 5);
  align-self: end;
}
h1 {
  color: black;
}
nav {
  /* grid-area: nav; */
  text-align: center;
  padding-top: 30px;
}
main {
  text-align: left;
  grid-area: main;
  padding-top: 20vh;
}
main img {
  display: block;
  width: 300px;
  height: 140px;
  object-fit: cover;
  margin: 20px 10% 15px 10%;
}
div {
  padding-top: 20px;
  background-color: lightcyan;
}
.intro {
  text-align: center;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
}
.icone {
  display: block;
  padding: 40px 15px;
  color: rgb(5, 85, 5);
}
.intro article {
  padding-bottom: 20px;
}
.intro p {
  color: rgb(38, 139, 206);
}
.intro span {
  font-weight: bold;
  padding-top: 20px;
}
.coffee img {
  border: 5px solid rgb(5, 85, 5);
}
.coffee .products .services .engine {
  padding-bottom: 50px;
}
.products img {
  border-radius: 5px;
}
.services img {
  border-radius: 5px 5px 0 0;
}
footer {
  border-radius: 5px 5px 0 0;
  grid-row: -1;
}
div.contact {
  text-align: center;
  display: block;
  background-color: white;
  width: 100vw;
  box-shadow: solid 2px grey;
}

#name,
#email,
#message {
  background-color: lightcyan;
  width: 60vw;
  margin: 8px;
}
#message {
  height: 25vh;
}
