*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 50px;
    position: relative;
    overflow: hidden;
}

.scroll {
    position: absolute;
    animation-name: scroll;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    white-space: nowrap;
}

@keyframes scroll {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}