*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 1px red;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 8px;
}
section#presentation {
  display: grid;
  grid-template-areas: "a a" "b c" "d d";
}
section#presentation div:nth-child(1) {
  background-color: darkviolet;
  grid-area: d;
}
section#presentation div:nth-child(2) {
  background-color: chartreuse;
}
section#presentation div:nth-child(3) {
  background-color: cyan;
}
section#presentation div:nth-child(4) {
  background-color: yellowgreen;
  grid-area: a;
}
