*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: red;
  color: white;
  grid-area: h;
  font-size: 18px;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  height: 15vh;

}
body {
  height: 100vh;
  align-content: center;
  display: grid;
  grid-template-areas:
    "h"
    "nav"
    "hero"
    "cards"
    "tiles"
    "layout"
    "art"
    "c";
    text-align: center;
}
nav{
  grid-area: nav;
  background-color: grey;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  height: 35vh;
  padding-top: 25px;
}
div{
  padding: 8px;
}

.hero{
  grid-area: hero;
}
.cards{
  grid-area: cards;
}
.tiles{
  grid-area: tiles;
}
.layout{
  grid-area: layout;
}
article{
  height: 35vh;
  grid-area: art;
  text-align: left;
  padding-left: 10px;
  line-height: 25px;
}
footer{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  height: 15vh;
  grid-area: c;
  background-color: black;
  color: white;
  padding: 20px;
}
@media screen and (min-width: 600px) {
  header{
    grid-row-start: auto;
  }
  body{
    height: 100vh;
  }
  nav{
    padding-top: 0;
    height: 70px;
  }
  .hero, .cards, .tiles, .layout{
    align-content: stretch;
    display: inline-block;
    padding: 20px;
  }
}
    
    

  
