*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vh;
}
div {
  width: 100vh;
  height: 11.11vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
div:nth-child(1) {
  background-color: aqua;
}
div:nth-child(2) {
  background-color: green;
}
div:nth-child(3) {
  background-color: orange;
}
div:nth-child(4) {
  background-color: deeppink;
}
div:nth-child(5) {
  background-color: blue;
}
div:nth-child(6) {
  background-color: yellow;
}
div:nth-child(7) {
  background-color: brown;
}
div:nth-child(8) {
  background-color: rgb(137, 185, 248);
}
div:nth-child(9) {
  background-color: dodgerblue;
}
@media screen and (min-width: 600px) {
  div {
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div {
    width: 50vw;
  }
}
